body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 50px;
    background: linear-gradient(rgb(226, 123, 140),rgb(118, 118, 220));

}
.todo-grid,.todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}
 .name-input,.due-date-input{
    font-size: 15px;
    padding: 6px;

 }
 .add-todo-button{
    background-color: green;
    color: aliceblue;
    border: none;
    font-size: 15px;
    cursor: pointer;
 }
 .delete-todo-button{
    background-color: darkred;
    color: aliceblue;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
 }

 .container{
    /* height: 500px;
    width: 500px;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    padding: 10px; */

 }
 .head{
    font-size: 50px;
    font-weight: bold;
 }